* {
  box-sizing: border-box;
}

body {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Segou UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
